{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="content-section">
            <h3>
                <div style="text-align: center">Jobs</div>
            </h3><br>
            {% for item in items %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2">
                            <span style="float: left"><b>{{item.name}}</b></span>
                            <span style="float: right"><small>{{ item.category.name }}</small></span>
                        </a>
                    </div>
                    <br>
                    <footer><small>
                            <p>
                                Posted on
                                {{ item.update_date.strftime('%A %B %d, %Y' ) }}
                                by <b>{{ item.user.name }}</b>.
                            </p>
                        </small>
                    </footer>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-section" align="center">
            <h3>State</h3>
            <br>
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category.name }}
                    <span class="badge badge-primary badge-pill">{{ category.item_total }}</span>
                </li>
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
</div>
{% endblock content %}